.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Button{
  margin: 0;
  border-color: #61dafb;
  background-color: #61dafb;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(20px + 2vmin);
  height:calc(50px + 2vmin);
  width:calc(10px + 2vmin);;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  position: relative;
  min-width: 15rem;
  width: 5px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  max-width: 100%;
}


.buttonHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  padding-right: 50px;
}

.buttonHolder-contact {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  align-items: center;
  background-color: white;
  padding-right: 50px;
}

#GFG { 
  text-decoration: none; 
} 

.AboutMe{
  padding: 20px;
}

button {
  outline: none;
}

.Project-Header{
  text-decoration:none;
  color: white;
}

.links{
  padding: 50px;
}

.links:hover {
  transform: scale(1.25); 
}

contact-anchor{
  text-decoration: none;
}

.url {
  color: white;
  text-decoration: none;
}